@import "../../styles/globalStyles.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  .loginContainer {
    background-color:var(--grey-3);
    min-width: 396px;
    padding: 2rem 1rem;
    border-radius: 4px;
    .titleContainer {
      display: flex;
      flex-direction: column;
      .title {
        @extend %h2;
        margin: 0 auto;
        padding-bottom: 2rem;
      }
    }
  }

  .sectionContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .sectionContent {
      display: flex;
      flex-direction: column;
      gap: 1.3rem;

      .registerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8rem;
        .toRegister {
          color: var(--grey-1);
          @extend %headlineBold;
        }
        .buttonRegister {
          padding: 1rem 2rem;
          width: 100%;
          border-radius: 4px;
          background-color: var(--grey-1);
          color: var(--grey-0);
        }
      }
    }
  }
}
