@import "../../styles/globalStyle.scss";

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;

  .button {
    padding: 1rem;
    background-color: var(--grey-3);
    color: var(--grey-0);
    @extend %headlineBold;
  }
}
