@import "../../styles/globalStyle.scss";

.dashboardContainer {
  color: white;
  width: 100%;

  .dashboardContent {
    border-block: 2px solid var(--grey-3);
    padding: 0.5rem;
    .welcomeMessage {
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
      margin: 0 auto;
      .title {
        @extend %h1;
      }
      .moduleInfo {
        @extend %headlineBold;
        color: var(--grey-1);
      }
    }
  }
  .developmentMessage {
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    .developmentWarning {
      @extend %h1;
    }
    .developmentInfo {
      @extend %p;
    }
  }
}

@media (max-width: 800px) {
  .welcomeMessage {
    max-width: 200px;
    flex-direction: column;
    justify-content: none;
    height: 50px;
  }
  .developmentMessage{
    padding: 2rem 1rem !important;
  }
}
