@import "../../styles/globalStyles.scss";

.headerContainer {
  width: 800px;
  margin: 0 auto;
  padding: 1rem 0;
  .button {
    display: flex;
    justify-content: space-between;
    padding: 0.9rem 1rem;
    background-color: var(--grey-3);
    color: var(--grey-0);
    border-radius: 4px;
    @extend %headlineBold;
  }
}
.dashboardContainer {
  color: var(--grey-0);
  width: 100%;
  .dashboardContent {
    border-block: 2px solid var(--grey-3);
    padding: 0.5rem;
    .welcomeMessage {
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
      margin: 0 auto;
      .title {
        @extend %h1;
      }
      .moduleInfo {
        @extend %headlineBold;
        color: var(--grey-1);
      }
    }
  }
}

@media (max-width: 800px) {
  .headerContainer{
    width: 100%;
    padding: 1rem;
  }
  .dashboardContent {
    padding: 1rem !important;
    .welcomeMessage{
      flex-direction: column;
      justify-content: space-evenly !important;
      align-items: flex-start !important;

    }
  }
}
