@import "../../../styles/globalStyles.scss";

.techListItem {
  background-color: var(--grey-4);
  padding: 1.2rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .techTitle {
    font-size: 14px;
    font-weight: var( --font-weight-bold);
  }
  .techActionsContainer {
    display: flex;
    gap: 1rem;
    .buttonsContainer{
      display: flex;
      gap: 0.8rem;
    }
    .techStatus {
      @extend %headline;
      color: var(--grey-1);
    }
    .techEditButton,
    .techDeleteButton {
      cursor: pointer;
    }}
  
}

@media (max-width: 800px) {
  .techListItem {
    flex-direction: column;
    align-items: normal;
    gap: 1rem;
  }
  .techActionsContainer{
    display: flex;
    justify-content: space-between;
  }
}
