@import "../../styles/globalStyles.scss";

.techSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  .techSection {
    width: 100%;
    .techHeader {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      align-items: center;
      .techTitle {
        @extend %h2;
      }
    }
  }
}
.techAddButton {
  background-color: var(--grey-3);
  color: var(--grey-0);
  padding: 0.4rem 0.7rem;
  font-size: 25px;
  border-radius: 4px;
  &:hover {
    background-color: var(--grey-2);
  }
}

.techList {
  background-color: var(--grey-3);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.1rem 1.3rem;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .techSectionContainer{
    padding: 1rem;
    .techList{
    padding: 1rem 0.5rem;
  }  
  }

}