@import "../../../styles/globalStyle.scss";

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .label {
    @extend %headline;
  }
  .input {
    @extend %p;
    padding: 0.6rem;
    background-color: var(--grey-2);
    border: 0.5px solid transparent;
    color: var(--grey-1);
    outline: none;
    &:hover {
      border: 0.5px solid var(--grey-0);
    }
  }
}
